body {
    font-family: Arial, Helvetica, sans-serif;
}

div.content {
    padding: max(10px, 2%);
}

@media (min-width: 1000px) {
    div.content {
        padding: 20px 15%;
    }
}

div.content>div {
    margin-bottom: 30px;
}

a {
    color: #000;
    text-decoration: none;
}