div.content {
    padding: max(10px, 2%);
}

@media (min-width: 1000px) {
    div.content {
        padding: 20px 15%;
    }
}

body {
    background: linear-gradient(135deg, #b2d8f0, #eeeeee);
}

div.content>div {
    margin-bottom: 30px;
}

h1,
h2,
b {
    font-family: Arial, Helvetica, sans-serif;
}

a.people {
    color: #000;
    text-decoration: none;
}